@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.emo{
  height:20px;
  width:20px;
  cursor: pointer;
}



:root {
  --primarycolor:hsl(179, 93%, 44%);
  --blue:hsl(183, 100%, 35%);
  --lightblue:hsl(183, 49%, 63%);
  --secondarycolor:hsl(217, 10%, 25%);
  --Backgroundcolor:hsl(216, 19%, 16%);
  --white:hsl(0, 0%, 100%);
  --darkishwhite:hsl(0, 0%, 78%);
}


#form__container {
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  background-color: #262625;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lobby__form {
  padding: 2em;
}

#form__container__header {
  border-radius: 10px 10px 0 0;
  padding: 32px;
  text-align: center;
  background-color: #363739;
  margin: 0;
  font-size: 18px;
  font-size: 300;
  line-height: 0;
}

.form__field__wrapper {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form__field__wrapper label {
  font-size: 14px;
  line-height: 1.7em;
  margin-bottom: 10px;
  display: block;
}

.form__field__wrapper input {
  box-sizing: border-box;
  color: #fff;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 5px;
  padding: 16px 20px;
  font-size: 15px;
  background-color: #3f434a;
}

.form__field__wrapper button[type='submit'] {
  margin-top: 32px;
  cursor: pointer;
  background-color: var(--primarycolor);
  border: none;
  color: #fff;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 5px;
  gap: 10px;
}

.form__field__wrapper button[type='submit'] svg {
  fill: #ede0e0;
  width: 20px;
}

#avatar__selection {
  margin-reight: 10px;
  display: flex;
  gap: 1em;
}

.avatar__option {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #797a79;
}

.avatar__option__selected {
  border: 3px solid var(--primarycolor);
}
