<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            background-color: #76CDDE;
            margin: auto;
            width: 40%;
            border-radius: 10px;
        }
        @media (max-width:600px){
            .container{
                width: 90%;
            }
        }
        
    </style>
</head>
<body>
    <div class="container">
        <a href="http://localhost:3000/sos/<%=link%>">http://localhost:3000/sos/<%=link%></a>
    </div>
</body>
</html>