<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags-->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Title Page-->
  <title>Fill Details | CUPIT</title>

  <!-- Icons font CSS-->
  <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all" />
  <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all" />
  <!-- Font special for pages-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
    rel="stylesheet" />

  <!-- Vendor CSS-->
  <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all" />
  <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all" />

  <!-- Main CSS-->
  <link href="/css/login_reg/buildprofile.css" rel="stylesheet" />
</head>

<body>
  <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
    <div class="wrapper wrapper--w960">
      <div class="card card-2">
        <div class="card-heading"></div>
        <div class="card-body">
          <h2 class="title">Create Your Profile</h2>
          <form method="POST" enctype="multipart/form-data" action="/buildprofile/userdetails">
            <div class="input-group">
              <input class="input--style-2" type="text" placeholder="Name" name="fname" />
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-2 js-datepicker" type="text" placeholder="Birthdate" name="dob" />
                  <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                </div>
              </div>
              <div class="col-2">
                <div class="input-group">
                  <div class="rs-select2 js-select-simple select--no-search">
                    <select name="gender">
                      <option disabled="disabled" selected="selected">
                        Gender
                      </option>
                      <option>Male</option>
                      <option>Female</option>
                      <option>Other</option>
                    </select>
                    <div class="select-dropdown"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="input-group">
                <input class="input--style-2" type="text" id="num" placeholder="Phone Number" name="phone" />
              </div>
              <div class="input-group col-2">
                <div class="rs-select2 js-select-simple select--no-search">
                  <select name="Preference">
                    <option disabled="disabled" selected="selected">
                      Preference
                    </option>
                    <option>Male</option>
                    <option>Female</option>
                    <option>Straight</option>
                  </select>
                  <div class="select-dropdown"></div>
                </div>
              </div>
            </div>
            <div class="row row-space">
              <div class="col-2">
                <div class="input-group">
                  <input class="input--style-2" type="file" placeholder="Registration Code" name="image" required
                    onchange="showPreview(event)" />
                </div>
              </div>
            </div>
            <div id="viewprofile">
              <img src="" alt="" id="imgpreview" class="hidden" />
            </div>
            <div class="p-t-30">
              <input class="btn btn--radius btn--green" type="submit" value="Submit Profile">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Jquery JS-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <!-- Vendor JS-->
  <script src="/vendor/select2/select2.min.js"></script>
  <script src="/vendor/datepicker/moment.min.js"></script>
  <script src="/vendor/datepicker/daterangepicker.js"></script>

  <!-- Main JS-->
  <script src="/js/buildprofile.js"></script>
  <script src="/js/info.js"></script>

  <!-- script  -->
  <script>
    const showPreview = async (event) => {
      let src = URL.createObjectURL(event.target.files[0]);
      let preview = document.getElementById("imgpreview");
      preview.classList.remove("hidden");
      preview.src = src;
    };
  </script>
</body>

</html>
<!-- end document-->