<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CUPIT</title>
  <link rel="stylesheet" href="css/login_reg/login.css" />
  <style>
    section .container .user .formBx button {
      max-width: 100px;
      padding: 10px;
      background: #e73e49;
      color: #fff;
      cursor: pointer;
      border: none;
      outline: none;
      box-shadow: none;
      margin: 8px 0;
      font-weight: 300;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 1px;
      transition: 0.5s;
    }
  </style>
</head>

<body>
  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx">
          <img
            src="https://images.unsplash.com/photo-1627856013091-fed6e4e30025?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dmlkZW8lMjBnYW1lc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            alt="" />
        </div>
        <div class="formBx">
          <div id="number">
            <h2>ADD NUMBER</h2>
            <input type="text" id="num" placeholder="Number" name="number" required="true">
            <button onclick="sendOtp()">Get OTP</button>
            <p class="signup">
              <a href="#" onclick="toggleForm()">Skip</a>
            </p>
          </div>
          <div id="otp" hidden>
            <form autocomplete="off">
              <h2>ADD NUMBER</h2>
              <input type="text" placeholder="Enter OTP" name="otp" required="true">
              <input type="submit" value="Verify Number">
              <p class="signup">
                <a href="#" onclick="toggleForm()">Skip</a>
              </p>
            </form>
          </div>
        </div>
      </div>

      <div class="user signupBx">
        <div class="formBx">
          <form action="/userdetails" method="post">
            <h2>User Details</h2>
            <input type="text" placeholder="First Name" name="fname" required="true">
            <input type="date" placeholder="Birthday" name="dob" required="true">
            <input type="radio" value="0" name="gender" required="true" id="male">
            <input type="radio" value="1" name="gender" required="true" id="female">
            <input type="submit" value="Sign Up">
          </form>
        </div>
        <div class="imgBx">
          <img
            src="https://images.unsplash.com/photo-1627855437292-7efeee237b12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHZpZGVvJTIwZ2FtZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
            alt="" />
        </div>
      </div>
    </div>
  </section>
  <script src="js/info.js"></script>
  <script>
    function toggleForm() {
      section = document.querySelector('section');
      container = document.querySelector('.container');
      container.classList.toggle('active');
      section.classList.toggle('active');
    }
  </script>
</body>

</html>