<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
    <title>Document</title>
</head>

<body>
    <video id="webcam" autoplay playsinline width="320" height="240"></video>
    <button id="takesnap">Take Snap</button>
    <canvas id="canvas" class="d-none"></canvas>
    <button onclick="upload()" id="upload">Upload Image</button>

    <script>
        'use strict';
        const webcamElement = document.getElementById('webcam');
        const canvasElement = document.getElementById('canvas');
        const clickbutton = document.getElementById('takesnap');
        const webcam = new Webcam(webcamElement, 'user', canvasElement);

        //start webcam
        webcam.start()
            .then(result => {
                console.log("webcam started");
            })
            .catch(err => {
                console.log(err);
            });

        //snapshot
        clickbutton.addEventListener('click', () => {
            let picture = webcam.snap();
        });

        // sending data to server
        const upload = async () => {
            canvasElement.toBlob(blob => {
                const file = new File([blob], "liveimage.png");
                // add the file to the FormData object
                const fd = new FormData()
                fd.append('image', file)

                // send `POST` request
                fetch('/api/imgverify', {
                    method: 'POST',
                    body: fd
                })
                    .then(res => res.json())
                    .then(json => console.log(json))
                    .catch(err => console.error(err))
            });
        }

    </script>

</body>

</html>