<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            background-color: #76CDDE;
            margin: auto;
            width: 40%;
            border-radius: 10px;
        }
        img{
            width: 80%;
            border-radius: 10px;
        }
        .verify{
            margin: 10px 0px;
            padding: 20px 40px;
            background-color: #063f4a;
            border-radius: 20px;
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
        h3{
            font-size: 25px;
        }
        @media (max-width:600px){
            .container{
                width: 90%;
            }
        }
        
    </style>
</head>
<body>
    <div class="container">
        <center><h1 style="color: #063f4a;margin-bottom: 10px;font-size: 40px;">CUPIT</h1></center>
        <center><h3>Thanks for Signing Up , <%=username%>!</h3></center>
        <center><img src="https://wallpaperaccess.com/full/677788.jpg"></center>
        <center><h3>Please Verify your email to get started</h3></center>
        <center><a href='<%=url%>' class="verify">Verify Email</a></center>
        <br>
    </div>
</body>
</html>