<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CUPIT</title>
</head>
<body>
    <form action="/buildprofile/uploadprofile" method="post" enctype="multipart/form-data">
        <input type="file" name="userImage" required onchange="showPreview(event)">
        <input type="submit">
    </form>
    <div class="preview">
        <img src="" alt="" id="image2preview">
    </div>

    <script>
        function showPreview(event){
            if(event.target.files.length>0){
                let src = URL.createObjectURL(event.target.files[0]);
                let preview = document.getElementById("image2preview");
                console.log(src);
                preview.src = src;
            }
        }
    </script>
</body>
</html>